<mat-card class="comment-card">
  <mat-card-header>
    <mat-card-title>{{ data.title }}</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of data.tags" color="primary" selected>{{ tag }}</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div [innerHTML]="data.text | safeHTML"></div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="toggleEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>